apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: portfolio
  template:
    metadata:
      labels:
        app: portfolio
    spec:
      containers:
        - name: portfolio
          image: my-vite-app:latest    # <<-- yahi aapka actual image name lagega
          imagePullPolicy: Never
          ports:
            - containerPort: 80
